<meta charset="utf-8">
<title>${title}</title>
<meta name="renderer" content="webkit">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>文件转换数据库</title>
<link rel="stylesheet" href="${ctxPath}/static/js/layui/css/layui.css" media="all"/>
<link rel="stylesheet" href="${ctxPath}/static/js/toastr/css/toastr.css"/>
<link rel="stylesheet" href="${ctxPath}/static/js/jqueryStep/css/jquery.step.css"/>
<link rel="stylesheet" href="${ctxPath}/static/css/excel2db.css"/>
<script type="text/javascript" src="${ctxPath}/static/js/layui/layui.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/js-xlsx/shim.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/js-xlsx/xlsx.full.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/jschardet/jschardet.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/toastr/js/toastr.js"></script>
<script type="text/javascript" src="${ctxPath}/static/js/jqueryStep/js/jquery.step.min.js"></script>
<script type="text/javascript">
    var ctxPath = "${ctxPath}";
</script>

