<!DOCTYPE html>
<html>
<head>
    <%
    layout("../include/css.html",{title: "Excel2DB"}){}
    %>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div id="step"></div>
        </div>
    </div>
    <div id="uploadProgress" style="display: none;" class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
        <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
    </div>
    <div class="layui-row">
        <div class="layui-col-md12">
            <div id="step_0">
                <div class="layui-col-md4 layui-col-md-offset4">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据库系统</label>
                            <div class="layui-input-block">
                                <select name="database-system" lay-verify="required" lay-filter="dbname">
                                    <option value="com.mysql.cj.jdbc.Driver" selected>MySql</option>
                                    <option value="oracle.jdbc.driver.OracleDriver">Oracle</option>
                                    <option value="org.postgresql.Driver">Postgre</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-url" class="layui-form-label">数据库URL</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="database-url" placeholder="url"
                                       value="jdbc:mysql://127.0.0.1:3306/database"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-user" class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="database-user" placeholder="username"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" class="layui-input" id="database-password"
                                       placeholder="password"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" id="testDBConnection">测试链接</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="step_1">
                <div class="layui-col-md4">
                    <div style="height:430px;width:96%;overflow: auto;">
                        <table class="layui-table" lay-even id="table-name-table">
                            <thead>
                            <tr>
                                <th>表名</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div style="height: 430px;width:96%;overflow: auto;">
                        <table class="layui-table" lay-even id="column-table">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="columns-check-all"/></th>
                                <th>列名</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">导出方式：</label>
                            <div class="layui-input-block">
                                <input type="radio" name="exportType" value="default" title="系统默认" checked lay-filter="exportType-filter">
                                <input type="radio" name="exportType" value="custom" title="自定义SQL" lay-filter="exportType-filter">
                            </div>
                        </div>
                        <div id="default-container">
                            <div class="layui-form-item">
                                <label class="layui-form-label">导出表：</label>
                                <div class="layui-input-block" id="export-table" style="padding: 9px 10px;">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">导出列：</label>
                                <div class="layui-input-block" id="export-columns" style="padding: 9px 10px;">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">导出行数：</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="dataRows" value="all" title="全部" checked lay-filter="dataRows-filter">
                                    <input type="radio" name="dataRows" value="part" title="部分"  lay-filter="dataRows-filter">
                                    <input type="text" name="rowsNum" required  placeholder="请输入行数" autocomplete="off" class="layui-input" style="width: 200px;display: none;">
                                </div>
                            </div>
                        </div>
                        <div id="custom-container" style="display: none;">
                            <div class="layui-form-item">
                                <label class="layui-form-label">自定义SQL：</label>
                                <div class="layui-input-block">
                                    <textarea name="custom-sql"  id="custom-sql" placeholder="请输入SQL" class="layui-textarea"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="step_2">
                <div style="width: 60%;margin: 100px auto;">
                    <div class="layui-progress layui-progress-big" lay-showPercent="true" lay-filter="downloadProgress">
                        <div class="layui-progress-bar layui-bg-blue" lay-percent="0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-row" style="position: fixed;right: 20px;bottom:0;">
        <button type="button" class="layui-btn layui-btn-radius" id="prevBtn" style="display: none;">上一步
        </button>
        <button type="button" class="layui-btn layui-btn-radius" id="nextBtn">下一步</button>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    var layform, layElement, layer;
    layui.use(['form', 'element'], function () {
        layform = layui.form;
        const $ = layui.jquery;
        layElement = layui.element;
        layer = layui.layer;
        layform.on('select(dbname)', function (data) {
            var value = data.value;
            if (value.indexOf("mysql") >= 0) {
                $("#database-url").val("jdbc:mysql://127.0.0.1:3306/database");
            } else if (value.indexOf("oracle") >= 0) {
                $("#database-url").val("jdbc:oracle:thin:@127.0.0.1:1521:orcl");
            } else if (value.indexOf("postgre") > 0) {
                $("#database-url").val("jdbc:postgresql://ip:port/dbname");
            }
        });
        layform.on("radio(exportType-filter)", function (data) {
            if ("default" === data.value) {
                $("#default-container").show();
                $("#custom-container").hide();
            } else {
                $("#default-container").hide();
                $("#custom-container").show();
            }
        });
        layform.on("radio(dataRows-filter)", function (data) {
            if ("part" === data.value) {
                $("input[name='rowsNum']").show();
            } else {
                $("input[name='rowsNum']").hide();
            }
        });
    });
    var dbDriver, dbUrl, dbUsername, dbPassword;
    var $step = $("#step");
    $("#step_0").css("display", "block");
    $step.step({
        index: 0,
        time: 500,
        title: ["配置数据库连接", "选择导出的表和列", "完成"]
    });
    $("#prevBtn").on("click", function () {
        $step.prevStep();
        if (0 === $step.getIndex()) {
            $("#step_1").hide();
            $("#step_0").show();
            $("#prevBtn").hide();
        } else if (1 === $step.getIndex()) {
            $("#step_2").hide();
            $("#step_1").show();
            $("#nextBtn").css("display", "inline-block");
        }
    });
    $("#nextBtn").on("click", function () {
        if (0 === $step.getIndex()) {
            if (!testDBConnection()) {
                return;
            }
            $("#step_0").hide();
            $("#step_1").show();
            $("#prevBtn").css("display", "inline-block");
            $step.nextStep();
        } else if (1 === $step.getIndex()) {
            if (!fieldNotNull()) {
                return;
            }
            layer.confirm('请确认导出?', {icon: 3, title:'提示'}, function(index){
                //下载数据
                export2Excel();
                //界面变化
                $("#step_1").hide();
                $("#step_2").show();
                $("#nextBtn").hide();
                layer.close(index);
                $step.nextStep();
            });
        }
    });
    //step_0
    function settingDbField() {
        dbDriver = $("select[name='database-system']").val();
        dbUrl = $("#database-url").val();
        dbUsername = $("#database-user").val();
        dbPassword = $("#database-password").val();
        return (dbDriver && dbUrl && dbUsername && dbPassword);
    }

    $("#testDBConnection").on("click", function () {
        if (testDBConnection()) {
            toastr.success("连接成功");
        }
    });

    function testDBConnection() {
        if (!settingDbField()) {
            toastr.warning("数据库参数不能为空！");
            return false;
        }
        var success = true;
        $.ajax({
            type: 'post',
            url: ctxPath + "/file/listDBTables",
            async: false,
            data: {
                "driver": dbDriver,
                "url": dbUrl,
                "username": dbUsername,
                "password": dbPassword
            },
            dataType: 'json',
            success: function (data) {
                if (data.meta.success) {
                    initTableNameTable(data);
                } else {
                    success = false;
                    toastr.warning(data.meta.message);
                }
            },
            error: function (data) {
                success = false;
                toastr.warning(JSON.parse(data.responseText).meta.message);
            }
        });
        return success;
    }

    function initTableNameTable(data) {
        var html = '';
        for (var i = 0; i < data.data.length; i++) {
            html += '<tr><td>' + data.data[i] + "</td></tr>";
        }
        $("#table-name-table").find("tbody").html(html);
        $("#column-table").find("tbody").empty();
    }

    //step_1
    $("#table-name-table").on("click", "td", function () {
        if (customSql()) {
            return;
        }
        $("#export-table").html($(this).text());
        $("#export-columns").empty();
        $("#table-name-table").find("td").removeClass("td-selected");
        $("#columns-check-all").prop("checked", false);
        $(this).addClass("td-selected");
        $.ajax({
            type: 'GET',
            url: ctxPath + '/file/listTableColumns',
            data: {"tableName": $(this).text()},
            success: function (data) {
                if (data.meta.success) {
                    initColumnNameTable(data);
                } else {
                    toastr.warning(data.meta.message);
                }
            }
        });
    });

    function initColumnNameTable(data) {
        var html = '';
        for (var i = 0; i < data.data.length; i++) {
            html += '<tr>';
            html += '<td><input type="checkbox" lay-skin="primary" name="columnName" id="' + data.data[i] + '" value="' + data.data[i] + '"></td>';
            html += '<td>' + data.data[i] + '</td>';
            html += '</tr>';
        }
        $("#column-table").find("tbody").html(html);
    }

    $("#columns-check-all").on('click', function () {
        if (customSql()) {
            return;
        }
        var obj = $("#export-columns");
        obj.empty();
        var columnName = $("input[name='columnName']");
        if ($("#columns-check-all").is(":checked")) {
            let len = columnName.length;
            columnName.each(function (index, dom) {
                $(this).prop("checked", true);
                obj.append($(this).val());
                if (index !== len - 1 ) {
                    obj.append(",");
                }
            });
        } else {
            columnName.each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    $("#column-table").on( "click", "input[name='columnName']", function () {
        if (customSql()) {
            return;
        }
        var selectedObj = $("#export-columns");
        if ($(this).is(":checked")) {
            if (selectedObj.html()) {
                selectedObj.append("," + $(this).prop("id"));
            } else {
                selectedObj.append($(this).prop("id"));
            }
        } else {
            if (selectedObj.html().indexOf("," + $(this).prop("id")) >= 0) {
                selectedObj.html(selectedObj.html().replace("," + $(this).prop("id"), ""));
            } else {
                selectedObj.html(selectedObj.html().replace($(this).prop("id"), ""));
            }
        }
    });

    function customSql() {
        //如果是自定义sql，则取消表名和列名的点击事件
        if ($("input:radio[name='exportType']:checked").val() === "custom") {
            return true;
        }
        return false;
    }
    function fieldNotNull() {
        let returnValue = true;
        if (customSql()) {
            if (!$.trim($("#custom-sql").val())) {
                layer.alert('请输入自定义sql');
                returnValue = false;
            }
        } else {
            if (!$.trim($("#export-table").text())) {
                layer.alert("请选择要导出的表");
                returnValue = false;
            } else if(!$.trim($("#export-columns").text())) {
                layer.alert("请勾选要导出的列");
                returnValue = false;
            } else if ($("input:radio[name='dataRows']:checked").val() === "part"){
                if (!$.trim($("input[name='rowsNum']").val())) {
                    layer.alert("请输入导出的行数");
                    returnValue = false;
                }
            }
        }
        return returnValue;
    }
    //导出
    function export2Excel() {
        setDownloadProgress(10);
        let data = {
            type: "",
            tableName: "",
            columnName: "",
            dataRows: "All",
            sql: ""
        };
        if (customSql()) {
            data.type = "custom";
            data.sql = $("#custom-sql").val();
        } else {
            data.type = "default";
            data.tableName = $.trim($("#export-table").text());
            data.columnName = $.trim($("#export-columns").text());
            if ($("input:radio[name='dataRows']:checked").val() === "part") {
                data.dataRows = $.trim($("input[name='rowsNum']").val());
            }
        }
        var xhr = new XMLHttpRequest();
        xhr.open('post', ctxPath + "/excel/downloadFailedUsingJson", true);
        xhr.responseType = 'blob';
        xhr.setRequestHeader('Content-Type', 'application/json;charset=utf-8');
        xhr.onload = function () {
            if (this.status === 200) {
                if (xhr.response.type === "application/json") {
                    toastr.warning("下载失败，系统内部错误");
                } else {
                    setDownloadProgress(50);
                    let blob = this.response;
                    let a = document.createElement('a');
                    a.href = window.URL.createObjectURL(blob);
                    //设置文件名称
                    a.download = '数据表格.xlsx';
                    a.click();
                }
            } else if (this.status === 500){
                toastr.warning("内部错误，请查看");
            }
            setDownloadProgress(100);
        };
        xhr.onerror = function() {
            toastr.warning("发生错误");
            setDownloadProgress(100);
        };
        xhr.send(JSON.stringify(data));
        setDownloadProgress(25);
    }
    function setDownloadProgress(percent) {
        layElement.progress('downloadProgress', percent + '%');
    }
</script>
