<!DOCTYPE html>
<html>
<head>
    <%
    layout("../include/css.html",{title: "Excel2DB"}){}
    %>
    <style type="text/css">
        #rowContent .layui-form-label {
            width: 120px;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row" id="rowContent">
        <div class="layui-col-md7 layui-col-md-offset3">
            <form class="layui-form" style="margin-top: 20px;" lay-filter="requestForm">
                <div class="layui-form-item">
                    <label class="layui-form-label">URL数据源：</label>
                    <div class="layui-input-inline" style="width: 400px">
                        <input type="text" class="layui-input" id="urlAddress" lay-verify="required">
                    </div>
                    <div class="layui-input-inline">
                        <button type="button" class="layui-btn layui-btn-radius layui-btn-normal" id="btn-preview">预览</button>
                        <!--<button type="button" class="btn btn-primary" id="btn-save">保存</button>-->
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">请求方式：</label>
                    <div class="layui-input-block">
                        <input type="radio" lay-filter="requestType" name="requestType" value="POST" title="POST">
                        <input type="radio" lay-filter="requestType" name="requestType" value="GET" title="GET" checked>
                    </div>
                </div>
                <div class="layui-form-item" style="height:29px;display: none;" id="requestProperty">
                    <label class="layui-form-label">请求属性：</label>
                    <div class="layui-input-inline" style="width: 300px;">
                        <input type="radio" lay-filter="requestProperty" name="requestProperty" value="x-www-form-urlencoded" checked title="x-www-form-urlencoded">
                        <input type="radio" lay-filter="requestProperty" name="requestProperty" value="raw" title="raw">
                    </div>
                    <div class="layui-input-inline" id="requestRawType" style="display: none;">
                        <select>
                            <option value="text/plain">Text(text/plain)</option>
                            <option value="application/json" selected>JSON(application/json)</option>
                            <option value="application/xml">XML(application/xml)</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">查询参数：</label>
                    <div class="layui-input-block">
                        <div id="formProperty">
                            <button type="button" class="layui-btn layui-btn-radius layui-btn-warm" id="btn-addProperty">添加参数</button>
                            <table class="layui-table" lay-even lay-skin="nob" id="propertyTable">
                                <colgroup>
                                    <col width="150">
                                    <col width="150">
                                    <col>
                                </colgroup>
                                <thead>
                                    <tr>
                                        <td style="vertical-align: middle">参数名称</td>
                                        <td style="vertical-align: middle">参数值</td>
                                        <td style="vertical-align: middle;">操作</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div id="rawProperty" style="display: none;">
                            <textarea class="layui-textarea" id="rawPropertyData"></textarea>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">响应结果：</label>
                    <div class="layui-input-block">
                        <textarea class="layui-textarea" id="responseResult" readonly="readonly"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    var layform, layElement;
    layui.use(['form', 'element'], function () {
        layform = layui.form;
        const $ = layui.jquery;
        layElement = layui.element;
        layform.render("", "requestForm");
        layform.on('radio(requestType)', function (data) {
            var value = data.value;
            if ("POST" === value) {
                $("#requestProperty").show();
            } else {
                $("#requestProperty").hide();
            }
        });
        layform.on('radio(requestProperty)', function(data){
            //console.log(data.elem); //得到radio原始DOM对象
            //console.log(data.value); //被点击的radio的value值
            var value = data.value;
            if ("raw" === value) {
                $("#requestRawType").show();
                $("#formProperty").hide();
                $("#rawProperty").show();
            } else {
                $("#requestRawType").hide();
                $("#formProperty").show();
                $("#rawProperty").hide();
            }
        });
    });
    /*$(function () {
        $.ajax({
            type: "POST",
            url: "data/getDataUrl",
            dataType: "json",
            data: {
                data:JSON.stringify({
                    "instanceid":instanceId,
                    "instancename":instanceName
                })
            },
            success: function (data) {
                if(data.meta.success){
                    if(data.data.length > 0) {
                        //解析方法
                        var urlData = data.data[0];
                        $("#urlAddress").val(urlData.REQUEST_URL);
                        $("input[name='requestType'][value='" + urlData.REQUEST_TYPE + "']").attr("checked",true);
                        if ("x-www-form-urlencoded" === urlData.REQUEST_PROPERTY) {
                            $("input[name='requestProperty'][value='x-www-form-urlencoded']").attr("checked",true);
                            var trArr = urlData.REQUEST_DATA.split("&");
                            var col;
                            for (var i = 0; i < trArr.length; i++) {
                                col = trArr[i].split("=");
                                //值可能为空
                                if (col.length !== 2) {
                                    tableAddTr(col[0],"");
                                } else {
                                    tableAddTr(col[0],col[1]);
                                }
                            }
                        } else {
                            $("input[name='requestProperty'][value='raw']").attr("checked",true).trigger("click");
                            $("#requestRawType").val(urlData.REQUEST_PROPERTY);
                            $("#rawPropertyData").val(urlData.REQUEST_DATA);
                        }
                    }
                }else{
                }
            }
        });
    });*/
    var index = 0,currEdit = -1;
    $("#btn-addProperty").on("click",function(e){
        openModal();
        $("#propertyKey").val('');
        $("#propertyValue").val('');
    });
    function openModal() {
        layer.open({
            type: 1,
            title: false,
            closeBtn: 1,
            area:['515px','220px'],
            shadeClose: false,//true点击遮罩层关闭弹框
            content: '<form class="layui-form" action="" lay-filter="modalForm" style="padding:30px 15px;">\n' +
                '    <div class="layui-form-item">\n' +
                '        <label class="layui-form-label">参数名称：</label>\n' +
                '        <div class="layui-input-block">\n' +
                '            <input type="text" id="propertyKey" name="title" required  lay-verify="required" placeholder="请输入参数名称" autocomplete="off" class="layui-input">\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="layui-form-item">\n' +
                '        <label class="layui-form-label">参数值：</label>\n' +
                '        <div class="layui-input-block">\n' +
                '            <input type="text" id="propertyValue" name="title" required  lay-verify="required" placeholder="请输入参数值" autocomplete="off" class="layui-input">\n' +
                '        </div>\n' +
                '    </div>\n' +
                '    <div class="layui-form-item">\n' +
                '        <div class="layui-input-block">\n' +
                '            <button type="button"  id="addProperty" class="layui-btn">立即提交</button>\n' +
                '        </div>\n' +
                '    </div>\n' +
                '</form>'
        });
        $("#addProperty").on("click",function (e) {
            var key = $("#propertyKey").val();
            var value = $("#propertyValue").val();
            tableAddTr(key,value);
            layer.closeAll();
        });
        layform.render("", "modalForm");
    }
    function tableAddTr(key,value) {
        if (0 < currEdit) {
            var tr = $("#propertyTable").find("tbody").find("tr[index='" + currEdit + "']");
            tr.find("td:eq(0)").html(key);
            tr.find("td:eq(1)").html(value);
            currEdit = -1;
        } else {
            index ++;
            if ($.trim(key)) {
                var html = '';
                html += '<tr style="height: 35px;" index="' + index + '">';
                html += '<td style="vertical-align: middle">' + key + '</td>';
                html += '<td style="vertical-align: middle">' + value + '</td>';
                html += '<td style="vertical-align: middle">';
                html += '<a href="javascript:delProperty(' + index + ')" class="layui-btn layui-btn-sm">删除参数</a>';
                html += '<a href="javascript:updateProperty(' + index + ')" class="layui-btn layui-btn-sm">修改参数</a>';
                html += '</td>';
                html += '</tr>';
                $("#propertyTable").find("tbody").append(html);
            }
        }
    }
    function delProperty(index) {
        $("#propertyTable").find("tbody").find("tr[index='" + index + "']").remove();
    }
    function updateProperty(index) {
        currEdit = index;
        var tr = $("#propertyTable").find("tbody").find("tr[index='" + index + "']");
        openModal();
        var key = $.trim(tr.find("td:eq(0)").html());
        $("#propertyKey").val(key);
        var value = $.trim(tr.find("td:eq(1)").html());
        $("#propertyValue").val(value);
    }
    $("#btn-preview").on("click",function(e){
        processRequest("preview");
    });
    $("#btn-save").on("click",function(){
        processRequest("save");
    });
    function processRequest(flag) {
        var url = $("#urlAddress").val();
        if (!$.trim(url)) {
            toastr.warning("URL不能为空！");
            return;
        }
        var requestType = $("input[name='requestType']:checked").val();
        var requestProperty = $("input[name='requestProperty']:checked").val();
        var requestData = "";
        if ("raw" === requestProperty) {
            requestProperty = $("#requestRawType").find("select").val();
            requestData = $("#rawPropertyData").val();
        } else {
            var trObj = $("#propertyTable").find("tbody").find("tr");
            if (trObj.length > 0) {
                trObj.each(function(index,ele){
                    requestData += $.trim($(this).find("td:eq(0)").html()) + "=" + encodeURI($.trim($(this).find("td:eq(1)").html()));
                    if (index !== trObj.length - 1) {
                        requestData += "&";
                    }
                });
            }
        }
        if (flag === "preview") {
            $("#responseResult").val("正在请求数据，请稍后。。。");
            $.ajax({
                type:"POST",
                url: ctxPath + "/url/previewDataUrl",
                dataType: "text",
                data:{
                    data:JSON.stringify({
                        "requestUrl":url,
                        "requestType":requestType,
                        "requestProperty":requestProperty,
                        "requestData":requestData
                    })
                },
                success: function (data) {
                    $("#responseResult").val(data);
                },
                error: function (data) {
                    let d = JSON.parse(data.responseText);
                    $("#responseResult").val(d.meta.message);
                }
            });
        } else {
            $.ajax({
                type:"POST",
                url:"url/saveDataUrl",
                dataType: "json",
                data:{
                    data:JSON.stringify({
                        "requestUrl":url,
                        "requestType":requestType,
                        "requestProperty":requestProperty,
                        "requestData":requestData
                    })
                },
                success: function (data) {
                    if(data.meta.success){
                        toastr.success("保存成功!");
                    }else{
                        toastr.warning(data.meta.message);
                    }
                }
            });
        }
    }
</script>