<!DOCTYPE html>
<html>
<head>
    <%
    layout("../include/css.html",{title: "Excel2DB"}){}
    %>
</head>
<body class="layui-layout-body">
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div id="step"></div>
        </div>
    </div>
    <div id="uploadProgress" style="display: none;" class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploadProgress">
        <div class="layui-progress-bar layui-bg-red" lay-percent="0%"></div>
    </div>
    <div class="layui-row" style="margin-top: 5px;">
        <div class="layui-col-md12">
            <div id="step_0">
                <div style="margin: 0 auto;">
                    <button type="button" class="layui-btn layui-btn-radius layui-btn-warm" id="upload-image">
                        <i class="layui-icon layui-icon-upload"></i>选择文件
                    </button>
                    <input type="file" id="inputFile" style="display: none;"/>
                    <p style="position: absolute;color:#c9302c;right: 0px;top: 0px;text-align: left;font-size: 12px;">
                        *支持excel表格和csv文本文档,首行默认为列字段<br/>
                        *限制最多显示1000行数据,表格支持编辑,请勿输入中文
                    </p>
                </div>
            </div>
            <div id="step_1">
                <div class="layui-col-md4 layui-col-md-offset4">
                    <form class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">数据库系统</label>
                            <div class="layui-input-block">
                                <select name="database-system" lay-verify="required" lay-filter="dbname">
                                    <option value="com.mysql.cj.jdbc.Driver" selected>MySql</option>
                                    <option value="oracle.jdbc.driver.OracleDriver">Oracle</option>
                                    <option value="org.postgresql.Driver">Postgre</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-url" class="layui-form-label">数据库URL</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="database-url" placeholder="url"
                                       value="jdbc:mysql://127.0.0.1:3306/databse?serverTimezone=GMT%2B8&useSSL=false&characterEncoding=utf8&allowMutiQueries=true"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-user" class="layui-form-label">用户名</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="database-user" placeholder="username"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label for="database-password" class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" class="layui-input" id="database-password"
                                       placeholder="password"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" type="button" id="testDBConnection">测试链接</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="step_2">
                <div class="layui-col-md5 layui-col-md-offset4">
                    <form class="layui-form" id="cols-form" lay-filter="colsFilter" style="height: 430px;overflow: auto;">
                    </form>
                </div>
            </div>

            <div id="step_3">
                <div class="layui-col-md4">
                    <div style="height:430px;width:96%;overflow: auto;">
                        <table class="layui-table" lay-even id="table-name-table">
                            <thead>
                            <tr>
                                <th>表名</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <div style="height: 430px;width:96%;overflow: auto;">
                        <table class="layui-table" lay-even id="column-table">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="columns-check-all"/></th>
                                <th>列名</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="layui-col-md4">
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <input type="radio" name="optionsRadios" id="create-new-table" value="create-new-table" lay-filter="tableRadio"/>
                            创建新表
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <input type="text" class="layui-input" id="table-name" placeholder="表名称"
                                       disabled="disabled"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <input type="radio" name="optionsRadios" id="append-table" value="append-table"
                                   checked="checked" lay-filter="tableRadio"/>
                            追加数据
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <span>已选择表：</span><span id="selected-table"></span><br/>
                                <span style="vertical-align: top">已选择列：</span><span id="selected-columns"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="table-content">
            </div>
        </div>
    </div>
    <div class="layui-row" style="position: fixed;right: 20px;bottom:0;">
        <button type="button" class="layui-btn layui-btn-radius" id="prevBtn" style="display: none;">上一步
        </button>
        <button type="button" class="layui-btn layui-btn-radius" id="nextBtn">下一步</button>
        <button type="button" class="layui-btn layui-btn-radius" id="uploadBtn" style="display:none;">开始上传
        </button>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="${ctxPath}/static/js/excel2db/excel2db.js"></script>
<script type="text/javascript">
    var layform, layElement;
    layui.use(['form', 'element'], function () {
        layform = layui.form;
        const $ = layui.jquery;
        layElement = layui.element;
        layform.on('select(dbname)', function (data) {
            var value = data.value;
            if (value.indexOf("mysql") >= 0) {
                $("#database-url").val("jdbc:mysql://127.0.0.1:3306/databse");
            } else if (value.indexOf("oracle") >= 0) {
                $("#database-url").val("jdbc:oracle:thin:@127.0.0.1:1521:orcl");
            } else if (value.indexOf("postgre") > 0) {
                $("#database-url").val("jdbc:postgresql://ip:port/dbname");
            }
        });
        layform.on('radio(tableRadio)', function(data){
            if ("create-new-table" === data.value) {
                $("#table-name").removeProp("disabled");
            } else {
                $("#table-name").prop("disabled", "disabled");
            }
        });
    });
    var dbDriver, dbUrl, dbUsername, dbPassword;
    var $step = $("#step");
    $("#step_0").css("display", "block");
    $step.step({
        index: 0,
        time: 500,
        title: ["选择文件", "数据库设置", "字段配置", "上传设置"]
    });
    $("#prevBtn").on("click", function () {
        $step.prevStep();
        if (0 === $step.getIndex()) {
            $("#step_1").css("display", "none");
            $("#step_0").css("display", "block");
            $("#table-content").css("display", "block");
            $("#prevBtn").css("display", "none");
        } else if (1 === $step.getIndex()) {
            $("#step_2").css("display", "none");
            $("#step_1").css("display", "block");
        } else if (2 === $step.getIndex()) {
            $("#step_3").css("display", "none");
            $("#step_2").css("display", "block");
            $("#nextBtn").css("display", "inline-block");
            $("#uploadBtn").css("display", "none");
        }
    });
    $("#nextBtn").on("click", function () {
        if (0 === $step.getIndex()) {
            $("#step_0").css("display", "none");
            $("#step_1").css("display", "block");
            $("#table-content").css("display", "none");
            $("#prevBtn").css("display", "inline-block");
        } else if (1 === $step.getIndex()) {
            if (!(testDBConnection())) {
                return;
            }
            $("#step_1").css("display", "none");
            $("#step_2").css("display", "block");
        } else if (2 === $step.getIndex()) {
            $("#step_2").css("display", "none");
            $("#step_3").css("display", "block");
            $("#nextBtn").css("display", "none");
            $("#uploadBtn").css("display", "");
        }
        $step.nextStep();
    });
    //step_0
    $("#upload-image").on("click", function () {
        $("#inputFile").trigger('click');
    });

    //step_1
    function settingDbField() {
        dbDriver = $("select[name='database-system']").val();
        dbUrl = $("#database-url").val();
        dbUsername = $("#database-user").val();
        dbPassword = $("#database-password").val();
        if (dbDriver.indexOf("mysql") >= 0) {
            columnSetting("mysql");
        } else if (dbDriver.indexOf("oracle") >= 0) {
            columnSetting("oracle");
        }
        return (dbDriver && dbUrl && dbUsername && dbPassword);
    }

    $("#testDBConnection").on("click", function () {
        if (testDBConnection()) {
            toastr.success("连接成功");
        }
    });

    function testDBConnection() {
        if (!settingDbField()) {
            toastr.warning("数据库参数不能为空！");
            return false;
        }
        var success = true;
        $.ajax({
            type: 'post',
            url: ctxPath + "/file/listDBTables",
            async: false,
            data: {
                "driver": dbDriver,
                "url": dbUrl,
                "username": dbUsername,
                "password": dbPassword
            },
            dataType: 'json',
            success: function (data) {
                if (data.meta.success) {
                    initTableNameTable(data);
                } else {
                    success = false;
                    toastr.warning(data.meta.message);
                }
            },
            error: function (data) {
                success = false;
                toastr.warning(JSON.parse(data.responseText).meta.message);
            }
        });
        return success;
    }

    function initTableNameTable(data) {
        var html = '';
        for (var i = 0; i < data.data.length; i++) {
            html += '<tr><td>' + data.data[i] + "</td></tr>";
        }
        $("#table-name-table").find("tbody").html(html);
        $("#column-table").find("tbody").empty();
    }


    //step_2
    $("#table-name-table").on("click", "td", function () {
        if (createNewTable()) {
            return;
        }
        $("#selected-table").html($(this).text());
        $("#selected-columns").empty();
        $("#table-name-table").find("td").removeClass("td-selected");
        $("#columns-check-all").prop("checked", false);
        $(this).addClass("td-selected");
        $.ajax({
            type: 'GET',
            url: ctxPath + '/file/listTableColumns',
            data: {"tableName": $(this).text()},
            success: function (data) {
                if (data.meta.success) {
                    initColumnNameTable(data);
                } else {
                    toastr.warning(data.meta.message);
                }
            }
        });
    });

    function initColumnNameTable(data) {
        var html = '';
        for (var i = 0; i < data.data.length; i++) {
            html += '<tr>';
            html += '<td><input type="checkbox" lay-skin="primary" name="columnName" id="' + data.data[i] + '" value="' + data.data[i] + '"></td>';
            html += '<td>' + data.data[i] + '</td>';
            html += '</tr>';
        }
        $("#column-table").find("tbody").html(html);
    }

    $("#columns-check-all").on('click', function () {
        if (createNewTable()) {
            return;
        }
        var obj = $("#selected-columns");
        obj.empty();
        var columnName = $("input[name='columnName']");
        if ($("#columns-check-all").is(":checked")) {
            let len = columnName.length;
            columnName.each(function (index, dom) {
                $(this).prop("checked", true);
                obj.append($(this).val());
                if (index !== len - 1 ) {
                    obj.append(",");
                }
            });
        } else {
            columnName.each(function () {
                $(this).prop("checked", false);
            });
        }
    });
    $("#column-table").on( "click", "input[name='columnName']", function () {
        if (createNewTable()) {
            return;
        }
        var selectedObj = $("#selected-columns");
        if ($(this).is(":checked")) {
            if (selectedObj.html()) {
                selectedObj.append("," + $(this).prop("id"));
            } else {
                selectedObj.append($(this).prop("id"));
            }
        } else {
            if (selectedObj.html().indexOf("," + $(this).prop("id")) >= 0) {
                selectedObj.html(selectedObj.html().replace("," + $(this).prop("id"), ""));
            } else {
                selectedObj.html(selectedObj.html().replace($(this).prop("id"), ""));
            }
        }
    });

    function createNewTable() {
        //如果是创建新表，则取消表名和列名的点击事件
        if ($("input:radio[name='optionsRadios']:checked").prop("id") === "create-new-table") {
            return true;
        }
        return false;
    }

    //upload
    $("#uploadBtn").on("click", function () {
        if (createNewTable()) {
            let tableName = $("#table-name").val();
            if (tableName) {
                $.ajax({
                    type: "POST",
                    url: ctxPath + "/file/createNewTable",
                    data: {
                        "tableName": tableName,
                        "data": JSON.stringify(createTableDO())
                    },
                    success: function (data) {
                        if (data.meta.success) {
                            toastr.success("创建表成功");
                            saveData($("#table-name").val(), getColumnList(), get_columns_content(wb, fileType));
                        } else {
                            toastr.error(data.meta.message);
                        }
                    },
                    error: function (err) {
                        toastr.warning(JSON.parse(err.responseText).meta.message);
                    }
                });
            } else {
                toastr.warning("表名称不能为空！");
            }
        } else {
            let selectedTable = $("#selected-table").html();
            let selectedColumns = $("#selected-columns").html();
            if (selectedTable && selectedColumns) {
                saveData(selectedTable, selectedColumns, get_columns_content(wb, fileType));
            } else {
                toastr.warning("请选择上传表和列！");
            }
        }
    });

    function saveData(tableName, columns, columnData) {
        // 去除空数据
        let temp;
        for (var i = columnData.length - 1; i > -1; i--) {
            temp = columnData[i];
            if (temp.join(",") === new Array(temp.length).join(",")) {
                columnData.splice(i, 1);
            }
        }
        // 保存代码
        var columnArr = columns.split(",");
        if (columnArr.length !== columnData[0].length) {
            toastr.warning("数据列与表列长度不匹配!");
            return;
        }
        $("#uploadProgress").css("display", "block");
        layElement.progress('uploadProgress', '0%');
        var num = 500;
        if (columnData.length <= num) {
            loopSendData(tableName, columns, 0, columnData.length, num, columnData);
        } else {
            loopSendData(tableName, columns, 0, num, num, columnData);
        }
    }

    function loopSendData(tableName, columns, fromIndex, toIndex, num, columnData) {
        $.ajax({
            type: "POST",
            url: ctxPath + "/file/saveData",
            data: {
                "tableName": tableName,
                "columns": columns,
                "data": JSON.stringify(columnData.slice(fromIndex, toIndex)),
                "columnTypes": JSON.stringify(createTableDO())
            },
            success: function (data) {
                if (data.meta.success) {
                    layElement.progress('uploadProgress', parseInt(toIndex / columnData.length * 100) + '%');
                    if (toIndex === columnData.length) {
                        $("#uploadProgress").css("display", "none");
                        toastr.success("上传成功");
                    } else {
                        fromIndex = toIndex;
                        toIndex += num;
                        if (toIndex > columnData.length) {
                            toIndex = columnData.length;
                        }
                        loopSendData(tableName, columns, fromIndex, toIndex, num, columnData);
                    }
                } else {
                    toastr.error(data.meta.message);
                    $("#uploadProgress").css("display", "none");
                    layElement.progress('uploadProgress', '100%');
                }
            },
            error:function (data) {
                $("#uploadProgress").css("display", "none");
                toastr.warning(JSON.parse(data.responseText).meta.message);
            }
        });
    }
</script>
