<!DOCTYPE html>
<html>
<head>
    <%
    layout("include/css.html",{title: "Excel2DB"}){}
    %>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="index-logo"><img src="${ctxPath}/static/images/logo.png" style="width: 162px;height: 60px;"/></div>
        <ul class="layui-nav" lay-filter="filter">
            <li class="layui-nav-item layui-this"><a href="javascript:;">读文件</a></li>
            <li class="layui-nav-item"><a href="javascript:;">读URL</a></li>
        </ul>
    </div>
    <div class="layui-body">
        <iframe src="${ctxPath}/file/file" id="frameContent" allowtransparency="true" frameborder="0" height="100%" width="100%" ></iframe>
    </div>
    <div class="layui-footer">
        © Ryan Xu
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    layui.use('element', function(){
        var element = layui.element;
        var $ = layui.jquery;
        element.on('nav(filter)', function(data){
            //console.log(this); //当前Tab标题所在的原始DOM元素
            //console.log(data.index); //得到当前Tab的所在下标
            //console.log(data.elem); //得到当前的Tab大容器
            if ("读URL" === $(this).html()) {
                $("#frameContent").attr("src", ctxPath + "/url/url");
            } else if ("读文件" === $(this).html()) {
                $("#frameContent").attr("src", ctxPath + "/file/file");
            }
        });
    });
</script>